<div class="container">
  <div class="row">
    <div class="col-md-10">
      <!-- <h1>Edit Car Page of {{manufacturer_params}}</h1> -->
      <form [formGroup]="carEditForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <!-- <div class="registration-content col-md-10">
              <div class="input-row">
                  <div class="text-field">
                      <div>
                          <input matInput type="text" placeholder="First Name *" formControlName="firstName"/>
                      </div>
                  </div>
              </div>
          </div> -->
        <div class="form-group">
          <label for="car-manufacturer">manufacturer</label>
          <input type="text" id="car-manufacturer" formControlName="car-manufacturer" class="form-control" readonly>
        </div>
        <div class="form-group">
          <label for="car-model">car model</label>
          <input type="text" id="car-model" formControlName="car-model" class="form-control" readonly>
        </div>
        <div class="form-group">
          <label for="car-price">car price</label>
          <input type="number" id="car-price" formControlName="carPrice" class="form-control">
        </div>
        <div>
          <button type="submit" class="btn btn-info">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>